<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="UTF-8">
<meta name="description"
	content="ban laptop uy tin, chat luong, dich vu tot">
<meta name="keywords"
	content="laptop, asus, dell, hp, lenovo, acer, apple, msi, lg">
<meta name="author" content="CuongPham">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<!-- CSS & JAVA_SCRIPT -->
<!-- CSS -->
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">

<!-- JavaScript -->
<script th:src="@{/js/chart.min.js}"></script>
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

<link rel="stylesheet" type="text/css" th:href="@{/css/manage.css}">
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.3/jquery.validate.min.js"></script>
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.3/additional-methods.min.js"></script>
<link rel="stylesheet" type="text/css" th:href="@{/css/form_infor.css}">
<!-- ----------------- -->

<title>Banking Project</title>
</head>

<body>

	<!-- MAIN -->
	<div id="main">
		<div th:insert="includes.html :: sidebar"></div>
		<div class="page-container">
			<div th:insert="includes.html :: header"></div>
			<div class="main-content">
				<div class="row">
					<div class="col-md-12">
						<div class="form-add">
							<div class="card-body">
								<div class="panel-body">
								
								<div class="box-from-to" style="margin-bottom: 30px;">
										<div class="row row-0 list-mb10 list-last-mb">
											<div class="col-md-6">
												<a class="card-ft card-from" href="javascript:void(0);">
													<div class="row row-10 align-items-center">
														<div class="col-auto">
															<div class="h5 b"
																th:text="${session.creditAccount_credit.id}"></div>
															<div class="h7 b1"
																th:text="${session.customerCredit_credit.fullName}"></div>
															<div class="h7 mt2"
																th:text="${#numbers.formatInteger(session.creditAccount_credit.balance,0,'POINT')+' ₫'}"></div>
															<div class="h7 mt2"
																th:text="${#numbers.formatInteger(session.creditAccount_credit.limitBalance,0,'POINT')+' ₫'}"></div>
														</div>
													</div>
												</a>
											</div>
											<div class="col-md-6">
												<a class="card-ft card-to" href="javascript:void(0);"> <!---->
													<!---->
													<div class="width-full">
														<div class="row row-10 align-items-center">
															<div class="col-auto text-right">
																
															</div>
														</div>
													</div>
												</a>
											</div>
										</div>
									</div>
									
									<div th:if="${status == 'failed'}">
										<div class="alert alert-danger">
											<strong>Failed!</strong> Giao dịch thất bại!
										</div>
									</div>
								
									<form th:object="${transaction}"
										action="/admin/transaction/credit/deal" method="post"
										id="deposit-form">
										
										<div class="form-group">
											<label class="required">Số tiền giao dịch: </label> <input
												th:field="*{money}" class="form-control"
												placeholder="Số tiền gửi" />
										</div>
										<div class="form-group">
											<label>Ghi chú: </label>
											<textarea th:field="*{note}" class="form-control" rows="5"></textarea>
										</div>
										<button type="submit" class="btn btn-success">
											<i class="fas fa-download"></i> Save
										</button>
									</form>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div th:insert="includes.html :: footer"></div>
		</div>
	</div>
</body>
<script type="text/javascript">
$().ready(function() {
	$('#deposit-form').validate({
		rules : {
			money : {
				required : true,
				number : true,
			},

		},
		messages : {
			money : {
				required : "Vui lòng nhập số tiền giao dịch",
				number : "Số tiền giao dịch chỉ bao gồm số"
			},
		},
	});
})
</script>
<style>
.error {
	font-weight: 400 !important;
	color: red;
	font-size: 15px !important;
}
</style>
</html>