<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="UTF-8">
<meta name="description"
	content="ban laptop uy tin, chat luong, dich vu tot">
<meta name="keywords"
	content="laptop, asus, dell, hp, lenovo, acer, apple, msi, lg">
<meta name="author" content="CuongPham">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<!-- CSS & JAVA_SCRIPT -->
<!-- CSS -->
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">

<!-- JavaScript -->
<script th:src="@{/js/chart.min.js}"></script>
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<script th:src="@{/js/home.js}"></script>

<link rel="stylesheet" type="text/css" th:href="@{/css/manage.css}">

<!-- ----------------- -->

<title>Banking Project</title>
</head>

<body>

	<!-- MAIN -->
	<div id="main">
		<div th:insert="includes.html :: sidebar"></div>

		<div class="page-container">

			<div th:insert="includes.html :: header"></div>

			<div class="main-content">
				<div class="row">
					<div class="col-md-12">
						<div class="form-add">
							<input class="form-control" id="myInput" type="text"
								placeholder="Search..">
							<h1 class="my-3"></h1>
							<table class="table">
								<thead class="thead-light">
									<tr>
										<th>#</th>
										<th>Họ và tên</th>
										<th>Địa chỉ</th>
										<th>CMT</th>
										<th>Ngày sinh</th>
										<th></th>
									</tr>
								</thead>
								<tbody id="myTable">
									<tr th:each="customer, state : ${customers}">
										<td th:text="${state.index+1}"></td>
										<td th:text="${customer.fullName}"></td>
										<td th:text="${customer.address}"></td>
										<td th:text="${customer.idCard}"></td>
										<td
											th:text="${#dates.format(customer.dateOfBirth, 'dd/MM/yyyy')}"></td>
										<td><a
											th:href="@{'/admin/transaction/credit/detail-customer/' + ${customer.id}}">Xem
												chi tiết</a></td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
				</div>
			</div>
			<div th:insert="includes.html :: footer"></div>
		</div>
	</div>
</body>

</html>