<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
</head>
<body>
	<div class="sidebar" th:fragment="sidebar">
		<div class="sidebar-inner">
			<div class="sidebar-logo">
				<a class="sidebar-link" href="/"> <img class="icon"
					src="/img/logo.png">
					<h5 class="logo-text">Banking</h5>
				</a>
			</div>

			<nav class="navbar scrollbar" id="style-1">
				<ul class="navbar-nav">
					<li class="nav-item"><a class="nav-link" href="/admin"><i
							class="fas fa-home"></i>Dashboard</a></li>
					<li class="nav-item dropdown"><a
						class="nav-link dropdown-toggle" href="#" id="navbardrop"
						data-toggle="dropdown"><i class="fas fa-money-bill-wave"></i>Transactions</a>
						<div class="dropdown-menu">
							<a class="dropdown-item" href="/admin/add-author">Giao dịch</a> <a
								class="dropdown-item" href="/admin/add-publisher">Thanh toán</a>
							<a class="dropdown-item" href="/admin/add-manufacturer">Gửi tiền</a>
						</div></li>
					<li class="nav-item"><a class="nav-link"
						href="/admin/manage/customer"><i class="fas fa-users"></i>Manage customer</a></li>
						<li class="nav-item"><a class="nav-link"
						href="/admin/manage/employee"><i class="fas fa-user-tie"></i>Manage employee</a></li>
						<li class="nav-item dropdown"><a
						class="nav-link dropdown-toggle" href="#" id="navbardrop"
						data-toggle="dropdown"><i class="far fa-credit-card"></i>Manage bank account</a>
						<div class="dropdown-menu">
							<a class="dropdown-item" href="/admin/manage/deposit-account">Manage deposit account</a> <a
								class="dropdown-item" href="/admin/manage/credit-account">Manage credit account</a>
						</div></li>
					<li class="nav-item"><a class="nav-link"
						href="/admin/manage/bank-account-type"><i class="fas fa-folder"></i>Manage bank account type</a></li>
					<li class="nav-item"><a class="nav-link"
						href="/admin/shipment"><i class="fas fa-calculator"></i>Manage salary</a></li>
					<li class="nav-item dropdown"><a
						class="nav-link dropdown-toggle" href="#" id="navbardrop"
						data-toggle="dropdown"><i class="fas fa-chart-bar"></i>Statistics</a>
						<div class="dropdown-menu">
							<a class="dropdown-item" href="/admin/manage/statistic/item">Item</a>
							<a class="dropdown-item" href="/admin/manage/statistic/customer">Customer</a>
							<a class="dropdown-item" href="/admin/manage/statistic/shipment">Shipment</a>
						</div></li>
				</ul>

			</nav>
		</div>
	</div>

	<div class="header-container" th:fragment="header">
		<nav class="navbar">
			<ul class="navbar-nav">
				<li class="nav-item dropdown"><a
					class="nav-link dropdown-toggle" href="#" id="navbardrop"
					data-toggle="dropdown"><img class="icon" alt="user"
						src="/img/userlogin.png">
						<span class="text-icon" th:text="${session.usernameEmployee}"></span> </a>
					<div class="dropdown-menu">
						<a class="dropdown-item" href="/logout"><i
							class="fas fa-power-off"></i>Logout</a>
					</div></li>
			</ul>
		</nav>
	</div>

	<div class="footer" th:fragment="footer">
		©
		<c:set var="now" value="" />
		<fmt:formatDate pattern="yyyy" value="${now}" />
		Copyright: <a href="https://www.facebook.com/cuongphamptit999/">
			CuongPham.com</a>
	</div>


</body>
</html>