<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="UTF-8">
<meta name="description"
	content="ban laptop uy tin, chat luong, dich vu tot">
<meta name="keywords"
	content="laptop, asus, dell, hp, lenovo, acer, apple, msi, lg">
<meta name="author" content="CuongPham">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<!-- CSS & JAVA_SCRIPT -->
<!-- CSS -->
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">

<!-- JavaScript -->
<script th:src="@{/js/chart.min.js}"></script>
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

<link rel="stylesheet" type="text/css" th:href="@{/css/manage.css}">
<!-- ----------------- -->

<title>Banking Project</title>
</head>

<body>

	<!-- MAIN -->
	<div id="main">
		<div th:insert="includes.html :: sidebar"></div>

		<div class="page-container">

			<div th:insert="includes.html :: header"></div>

			<div class="main-content">
				<div class="row">
					<div class="col-md-3">
						<div class="r3_counter_box">
							<img src="/img/icons8-money-100.png" alt="manage">
							<div class="stats">
								<h5>
									<strong> </strong>
								</h5>
								<span>Total Revenue</span>
							</div>
						</div>
					</div>

					<div class="col-md-3">
						<div class="r3_counter_box">
							<img src="/img/icons8-user-male-100.png" alt="manage">
							<div class="stats">
								<h5>
									<strong> </strong>
								</h5>
								<span>Total Customers</span>
							</div>
						</div>
					</div>

					<div class="col-md-3">
						<div class="r3_counter_box">
							<img src="/img/icons8-laptop-100.png" alt="manage">
							<div class="stats">
								<h5>
									<strong> </strong>
								</h5>
								<span>Total Orders</span>
							</div>
						</div>
					</div>

					<div class="col-md-3">
						<div class="r3_counter_box">
							<img src="/img/icons8-cursor-100.png" alt="manage">
							<div class="stats">
								<h5>
									<strong> </strong>
								</h5>
								<span>Total Visits</span>
							</div>
						</div>
					</div>
				</div>

				<div class="row">
					<div class="col-md-7 chart">
						<div class="charts">
							<canvas id="myChart"></canvas>
						</div>
					</div>
					<div class="col-md-5">
						<div class="table-product scrollbar1" id="style-1">
							<table class="table">
								<thead style="background-color: #03a9f4; color: white;">
									<tr>
										<th>Name</th>
										<th>Amount</th>
									</tr>
								</thead>
								<tbody>
									<c:forEach var="itemStat" items="${itemStats }">
										<tr>
											<td>${itemStat.name }</td>
											<td>${itemStat.quantity }</td>
										</tr>
									</c:forEach>

								</tbody>
							</table>
						</div>
					</div>

				</div>

				<div class="row">
					<div class="col-md-6">
						<iframe
							src="https://calendar.google.com/calendar/embed?height=600&amp;wkst=1&amp;bgcolor=%23ffffff&amp;ctz=Asia%2FHo_Chi_Minh&amp;src=cGhhbWN1b25ndGgyMDAwQGdtYWlsLmNvbQ&amp;src=Y2xhc3Nyb29tMTE0Mzk5MjQ3MTIwMjM5NTc0MTk4QGdyb3VwLmNhbGVuZGFyLmdvb2dsZS5jb20&amp;src=YWRkcmVzc2Jvb2sjY29udGFjdHNAZ3JvdXAudi5jYWxlbmRhci5nb29nbGUuY29t&amp;src=Y2xhc3Nyb29tMTA2NDAwMzExNDc2NDc2Njk0OTk1QGdyb3VwLmNhbGVuZGFyLmdvb2dsZS5jb20&amp;color=%23039BE5&amp;color=%230047a8&amp;color=%2333B679&amp;color=%23007b83"
							width="100%" height="600px" frameborder="0" scrolling="no"></iframe>
					</div>
					<div class="col-md-6">
						<iframe
							src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3619.614774027218!2d105.78734215530791!3d20.96544475848515!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3135ad29b81cac63%3A0xe5796c9507084b90!2zMTlhIFBo4buRIFhhIExhLCBQLiBQaMO6YyBMYSwgSMOgIMSQw7RuZywgSMOgIE7hu5lpIDEyMTA4!5e0!3m2!1svi!2s!4v1619148320132!5m2!1svi!2s"
							width="100%" height="600px" style="border: 0;" allowfullscreen=""
							loading="lazy"></iframe>
					</div>
				</div>
				<div class="row">
					<div class="col-md-12 slide-view">
						<div id="demo" class="carousel slide" data-ride="carousel">

							<ul class="carousel-indicators">
								<li data-target="#demo" data-slide-to="0" class="active"></li>
								<li data-target="#demo" data-slide-to="1"></li>
							</ul>

							<div class="carousel-inner">
								<div class="carousel-item active">
									<div class="row">
										<div class="col-md-4">
											<img src="/img/slider1.jpg" alt="slide">
										</div>
										<div class="col-md-4">
											<img src="/img/slider2.jpg" alt="slide">
										</div>
										<div class="col-md-4">
											<img src="/img/slider3.jpg" alt="slide">
										</div>
									</div>

								</div>
								<div class="carousel-item">
									<div class="row">
										<div class="col-md-4">
											<img src="/img/slider4.jpg" alt="slide">
										</div>
										<div class="col-md-4">
											<img src="/img/slider5.jpg" alt="slide">
										</div>
										<div class="col-md-4">
											<img src="/img/slider6.jpg" alt="slide">
										</div>
									</div>
								</div>

							</div>

						</div>
					</div>
				</div>

			</div>

			<div th:insert="includes.html :: footer"></div>

		</div>
	</div>

</body>

</html>