<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="UTF-8">
<meta name="description"
	content="ban laptop uy tin, chat luong, dich vu tot">
<meta name="keywords"
	content="laptop, asus, dell, hp, lenovo, acer, apple, msi, lg">
<meta name="author" content="CuongPham">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<!-- FAVICON -->
<link rel="apple-touch-icon" sizes="180x180"
	href="/favicon/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32"
	href="/favicon/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16"
	href="/favicon/favicon-16x16.png">
<link rel="manifest" href="/favicon/site.webmanifest">
<link rel="mask-icon" href="/favicon/safari-pinned-tab.svg"
	color="#5bbad5">
<meta name="msapplication-TileColor" content="#da532c">
<meta name="theme-color" content="#ffffff">

<!-- CSS & JAVA_SCRIPT -->
<!-- CSS -->
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">

<!-- JavaScript -->
<script th:src="@{/js/chart.min.js}"></script>
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<script th:src="@{/js/home.js}"></script>

<link rel="stylesheet" type="text/css" th:href="@{/css/manage.css}">

<!-- ----------------- -->

<title>Banking Project</title>
</head>

<body>

	<!-- MAIN -->
	<div id="main">
		<div th:insert="includes.html :: sidebar"></div>

		<div class="page-container">

			<div th:insert="includes.html :: header"></div>

			<div class="main-content">
				<div class="row">
					<div class="col-md-12">
						<div class="form-add">
							<div class="search-customer">
								<div style="display: flex; width: 90%;">
									<input class="form-control" type="text"
										style="margin-right: 20px; width: 150%;"
										placeholder="Tìm theo tên, địa chỉ" id="search-key-customer"
										th:value="${keyCustomer}">
									<div style="display: flex; margin-right: 20px;">
										<label
											style="margin-top: 6px; margin-right: 10px; font-size: 17px;">From:</label>
										<div>
											<input type="date" class="form-control" name="from"
												th:value="${fromDate}" id="from-date">
										</div>
									</div>
									<div style="display: flex; margin-right: 20px;">
										<label
											style="margin-top: 6px; margin-right: 10px; font-size: 17px;">To:
										</label>
										<div>
											<input type="date" class="form-control" name="to"
												th:value="${toDate}" id="to-date">
										</div>
									</div>
									<div style="width: auto; margin-right: 20px;">
										<button type="button" class="btn btn-primary"
											style="width: max-content"
											onclick="Banking.searchForCustomer()">
											<i class="fas fa-search"></i> Tìm
										</button>
									</div>
									<select id="sort-select"
										onchange="Banking.addUrlParameter('sort', this.value)"
										class="form-control">
										<option value="">Sắp xếp theo tên</option>
										<option value="a-z" th:selected="${sort} == 'a-z'">A
											đến Z</option>
										<option value="z-a" th:selected="${sort} == 'z-a'">Z
											đến A</option>
									</select>
								</div>

								<a href="/admin/manage/customer/add" class="btn btn-success"><i
									class="fas fa-plus-square"></i> Add</a>
							</div>
							<h1 class="my-3"></h1>
							<table class="table">
								<thead class="thead-light">
									<tr>
										<th>#</th>
										<th>Họ và tên</th>
										<th>Địa chỉ</th>
										<th>CMT</th>
										<th>Email</th>
										<th>Ngày sinh</th>
										<th></th>
									</tr>
								</thead>
								<tbody id="myTable">
									<tr th:each="customer, state : ${customers}">
										<td th:text="${state.index+1}"></td>
										<td th:text="${customer.fullName}"></td>
										<td th:text="${customer.address}"></td>
										<td th:text="${customer.idCard}"></td>
										<td th:text="${customer.email}"></td>
										<td
											th:text="${#dates.format(customer.dateOfBirth, 'dd/MM/yyyy')}"></td>
										<td><a
											th:href="@{'/admin/transaction/deposit/detail-customer/' + ${customer.id}}">Xem
												chi tiết</a></td>
									</tr>
								</tbody>
							</table>

							<div class="text-center"
								style="margin-bottom: -18px; margin-top: 50px;">
								<ul class="page-numbers">
									<li><a class="prev page-numbers"
										href="javascript:Banking.goPrev()"><i
											class="fas fa-angle-left"></i></a></li>
									<li><div th:if="${page} == 1 or ${page == null}">
											<span aria-current="page" class="page-numbers current">1</span>
										</div>
										<div th:unless="${page} == 1 or ${page == null}">
											<a class="page-numbers"
												href="javascript:Banking.addUrlParameter('page', 1)">1</a>
										</div></li>
									<li><div th:if="${page} == 2">
											<span aria-current="page" class="page-numbers current">2</span>
										</div>
										<div th:unless="${page} == 2">
											<a class="page-numbers"
												href="javascript:Banking.addUrlParameter('page', 2)">2</a>
										</div></li>

									<li><div th:if="${page} == 3">
											<span aria-current="page" class="page-numbers current">3</span>
										</div>
										<div th:unless="${page} == 3">
											<a class="page-numbers"
												href="javascript:Banking.addUrlParameter('page', 3)">3</a>
										</div></li>
									<li><div th:if="${page} == 4">
											<span aria-current="page" class="page-numbers current">4</span>
										</div>
										<div th:unless="${page} == 4">
											<a class="page-numbers"
												href="javascript:Banking.addUrlParameter('page', 4)">4</a>
										</div></li>
									<li><div th:if="${page} == 5">
											<span aria-current="page" class="page-numbers current">5</span>
										</div>
										<div th:unless="${page} == 5">
											<a class="page-numbers"
												href="javascript:Banking.addUrlParameter('page', 5)">5</a>
										</div></li>
									<li><a class="next page-numbers"
										href="javascript:Banking.goNext()"><i
											class="fas fa-angle-right"></i></a></li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div th:insert="includes.html :: footer"></div>
		</div>
	</div>
</body>

</html>